.modules {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 16px;
  row-gap: 16px;
}

.module {
  cursor: pointer;
  padding: 20px;
  border-radius: 14px;
  background-color: white;
  box-shadow: 0px 4px 18px -4px rgba(8, 8, 8, 0.04);
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-areas: "counts counts" "image text";
  column-gap: 10px;
  row-gap: 18px;
}

.module__counts {
  width: fit-content;
  height: fit-content;
  padding: 4px 8px;
  background: #f5f5f5;
  border-radius: 8px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.023em;
  color: #76767a;
  grid-area: counts;
}
.module__image {
  grid-area: image;
  width: 100px;
  height: 100px;
}
.module__text {
  grid-area: text;
}
.module__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: black;
}
.module__description {
  margin-top: 4px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.023em;
  color: #35383a;
}

@media (max-width: 1339px) {
  .module {
    padding: 10px;
    grid-template-areas: "image counts" "text text";
    column-gap: 10px;
    row-gap: 10px;
  }
  .module__counts {
    justify-self: end;
  }
}

@media (max-width: 767px) {
  .modules {
    grid-template-columns: 1fr;
  }
}
