.large-decor {
  position: absolute;
  z-index: -1;
  bottom: -625px;
  right: -950px;
  transform: rotate(25deg);
}

@media (max-width: 1919px) {
  .large-decor {
    bottom: -650px;
    right: -1027px;
    transform: rotate(25deg);
  }
}
@media (max-width: 1339px) {
  .large-decor {
    bottom: -387px;
    right: -1502px;
    transform: rotate(25deg);
  }
}
@media (max-width: 959px) {
  .large-decor {
    bottom: -625px;
    right: -1000px;
    transform: rotate(25deg);
  }
}
@media (max-width: 767px) {
  .large-decor {
    width: 1041px;
    bottom: -235px;
    right: -375px;
    transform: rotate(25deg);
  }
}
